<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Plataforma Educativa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body >
        <header th:replace= "layout/plantillaEst :: header"></header>
        <section th:replace="layout/plantillaEst :: usuario"></section>
        <footer th:replace= "layout/plantillaEst :: footer"> </footer>
        
    </body>
</html>
