<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Plataforma Educativa</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="container my-5">
            <div class="row justify-content-center"> 
                <div class="col-md-6" style="max-width: 400px;">
                    <div class="card" style="background-color: #B6787A;">
                        <div class="card-header text-center">
                            <h2>[[#{login.login}]]</h2>
                        </div>
                        <div class="card-body">
                            <form method="POST" th:action="@{/login}">
                                <div class="form-group">
                                    <label for="username">[[#{login.username}]]:</label>
                                    <input class="form-control" type="text" name="username" id="username"/>
                                </div>
                                <div class="form-group">
                                    <label for="password">[[#{login.password}]]:</label>
                                    <input class="form-control" type="password" name="password" id="password"/>
                                </div>
                                <div class="card-footer col text-center">
                                    <button class="btn btn-primary" >
                                        <a th:href="@{/registro/nuevo}" class="btn"><i class="fas fa-user-plus"></i> [[#{accion.registrar}]]</a></button>
                                    <button class="btn btn-info" >                                        
                                        <a th:href="@{/registro/recordar}" class="btn"><i class="fas fa-envelope"></i> [[#{accion.recordar}]]</a></button>
                                    <button class="btn btn-success" type="submit">
                                        <span class="btn"><i class="fas fa-sign-in-alt"></i>
                                            [[#{login.login}]]</span></button>
                                </div>
                            </form>
                        </div>
                        <div th:if="${param.error != null}" class="text-center">
                            <h3>[[#{error.login}]]</h3>
                        </div>
                    </div>
                </div>
            </div>           
        </div>  
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>

